.skills {
    float: left;
    /*clear: both;
    width: 100%;*/
}

.skills ul,
.skills li {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
}

.skills ul {
    text-align: center;
    overflow: hidden;
    float: left;
}

.skills li {
    /*float: left;*/
    text-align: center;
    /*clear: both;*/
    padding: 0 15px;
    height: 35px;
    line-height: 35px;
    color: #fff;
    margin-bottom: 1px;
    /*font-size: 18px;*/
}

.skills .jq {
    background: #97BE0D;
}

.skills .css {
    background: #7B8D8E;
}

.skills .html {
    background: #5D4C46;
}

.skills .lara {
    background: #E45641;
}

.skills .ci {
    background: #F1A94E;
}

.skills .dru {
    background: #44B3C2;
}

#diagram {
    float: right;
    /*margin: 0 auto;*/
    /*padding-left: 20px;*/
    width: 450px;
    height: 420px;
}

#diagram svg {
    margin: 0 auto
}

.get {
    display: none;
}